*{
    margin: 0%;
    padding: 0%;
}

.container{
    transform: translate(-0%,-0%);
    box-shadow: 0 10px 20px black;
}

.overlay{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    transition:opacity 0.6s ease-in-out;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 57, 57);
    cursor: pointer;
    font-size: 20px;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    
}

.container:hover .overlay{
    color: white;
    /* color: rgb(253, 253, 253); */
    opacity: 0.8;
}