.postside{
    display: grid;
    grid-template-rows: 10rem,auto;
    gap: 2rem;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px 0px 0px 0px;
    border-left: 3px solid grey;
    background-color: rgb(52, 53, 54);
}


